<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Prediccion vuelos</title>

    <!-- Font Awesome -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">-->

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<header>
    <!--Navbar-->
    <nav class="navbar  fixed-top navbar-toggleable-md navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <strong>Predicción Retraso Vuelos | UCE</strong>
            </a>
            <div class="collapse navbar-collapse" id="collapseEx2">
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="#s-predecir">Vuelos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#s-aeropuertos">Aeropuertos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#s-rutas">Rutas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#s-causas">Causas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

</header>

<!--Start your project here-->
<main>
    <div class="container documentation dcm" id="app">
        <br/>
        <br/>
        <br/>
        <section id="s-predecir">
            <h1 class="doc-title doc-first">Predecir vuelo</h1>
            <p class="lead">En base a una base de datos con datos de casi un millon de vuelos.</p>
            <p class="lead">Nunca más lo tomará por sorpresa, si su vuelo se retraza.</p>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form">
                        <input placeholder="Seleccionar hora" type="text" id="hora"
                               class="form-control timepicker">
                        <label for="hora">Hora de vuelo</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="mdb-select" id="origen">
                        <option value="" disabled selected>Seleccionar origen</option>
                        <option v-for="(ar, index) in aeropuertos" v-bind:value="ar.originIndex">{{ar.Origin}}</option>
                    </select>
                    <label>Origen</label>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input type="text" class="form-control" id="distancia">
                        <label for="distancia" class="">Distancia</label>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <button class="btn btn-default" v-on:click="predecir"><i class="fa fa-plane left"></i> Predecir</button>
            </div>
            <br/><br/><br/><br/><br/>

            <div class="row streak" id="predecir-result">
                <div class="flex-center">
                    <ul>
                        <li>
                            <h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                <span id="p-result">{{ prediccion }}</span>
                                <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
                        <li>
                            <h5 class="text-xs-center font-italic wow fadeIn" data-wow-delay="0.2s"> ~ Apache Spark &
                                MLIB</h5>
                        </li>

                    </ul>
                </div>
            </div>


        </section>


        <section id="s-aeropuertos">
            <br/><br/><br/>
            <h1 class="doc-title doc-first">Aeropuertos</h1>
            <p class="lead">Estadisdticas de retrazos por aeropuertos.</p>
            <p class="lead"></p>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header default-color-dark white-text">
                            Mayor Retrazo
                        </div>
                        <div class="card-block">
                            <h4 class="card-title" v-if="aeroRetrazoLoad">Cargando</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Origen</th>
                                    <th>originIndex</th>
                                    <th>Vuelos</th>
                                    <th>Retrazo</th>
                                </tr>
                                </thead>
                                <tbody id="a-r">
                                <tr v-for="(ar, index) in aeroRetrazo">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ ar.Origin }}</td>
                                    <td>{{ ar.originIndex }}</td>
                                    <td>{{ ar.traffic }}</td>
                                    <td>{{ ar.delay }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header primary-color white-text">
                            Menor Retrazo
                        </div>
                        <div class="card-block">
                            <h4 class="card-title" v-if="aeroNoRetrazoLoad">Cargando</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Origen</th>
                                    <th>originIndex</th>
                                    <th>Vuelos</th>
                                    <th>Retrazo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(ar, index) in aeroNoRetrazo">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ ar.Origin }}</td>
                                    <td>{{ ar.originIndex }}</td>
                                    <td>{{ ar.traffic }}</td>
                                    <td>{{ ar.delay }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="s-rutas">
            <br/><br/><br/>
            <h1 class="doc-title doc-first">Rutas</h1>
            <p class="lead">Estadisdticas de retrazos por rutas.</p>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header default-color-dark white-text">
                            Mayor Retrazo
                        </div>
                        <div class="card-block">
                            <h4 class="card-title" v-if="rutaRetrazoLoad">Cargando</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Origen</th>
                                    <th>originIndex</th>
                                    <th>Vuelos</th>
                                    <th>Distancia</th>
                                    <th>Retrazo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(ar, index) in rutaRetrazo">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ ar.Origin }}</td>
                                    <td>{{ ar.originIndex }}</td>
                                    <td>{{ ar.traffic }}</td>
                                    <td>{{ ar.avgDist }}</td>
                                    <td>{{ ar.delay }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header primary-color white-text">
                            Menor Retrazo
                        </div>
                        <div class="card-block">
                            <h4 class="card-title" v-if="rutaNoRetrazoLoad">Cargando</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Origen</th>
                                    <th>originIndex</th>
                                    <th>Vuelos</th>
                                    <th>Distancia</th>
                                    <th>Retrazo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(ar, index) in rutaNoRetrazo">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ ar.Origin }}</td>
                                    <td>{{ ar.originIndex }}</td>
                                    <td>{{ ar.traffic }}</td>
                                    <td>{{ ar.avgDist }}</td>
                                    <td>{{ ar.delay }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="s-causas">
            <br/><br/><br/>
            <h1 class="doc-title doc-first">Causas</h1>
            <p class="lead">Estadisdticas de retrazos por causas.</p>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-header primary-color white-text">
                            Vuelos con Retrazo
                        </div>
                        <div class="card-block">
                            <h4 class="card-title" v-if="retrazoCausaLoad">Cargando</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Clima</th>
                                    <th>NAS</th>
                                    <th>Seguridad</th>
                                    <th>lateAircraft</th>
                                    <th>Carrier</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(ar, index) in retrazoCausa">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ ar.Weather }}</td>
                                    <td>{{ ar.NAS }}</td>
                                    <td>{{ ar.Security }}</td>
                                    <td>{{ ar.lateAircraft }}</td>
                                    <td>{{ ar.Carrier }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!--/Start your project here-->

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/mdb.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>