/* YOUR CUSTOM STYLES */
.documentation .doc-title {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 2rem 0;
    margin: 5rem 0 2rem;
    text-transform: uppercase;
    font-size: 2rem
}

.documentation .doc-title.doc-first {
    border-top: none;
    margin-top: 0;
    padding-top: 1.2rem
}

.documentation .doc-title.doc-subtitle {
    text-transform: none;
    border-top: none;
    font-size: 1.7rem;
    margin-top: 2rem
}

.documentation .doc-title .btn {
    margin-top: -2px
}


.picker {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #000;
    position: absolute;
    z-index: 10000;
    user-select: none
}

.picker__header,.picker__table,.picker__table td,.picker__table th {
    text-align: center
}

.picker__input {
    cursor: default
}

.picker__holder {
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    -webkit-transition: background .15s ease-out,top 0s .15s;
    transition: background .15s ease-out,top 0s .15s;
    -webkit-backface-visibility: hidden
}

.picker__frame,.picker__holder {
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%
}

.picker__frame {
    position: absolute;
    min-width: 256px;
    width: 300px;
    max-height: 350px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}

@media (min-height: 40.125em) {
    .picker__frame {
        margin-bottom:7.5%
    }
}

.picker__wrap {
    display: table;
    width: 100%;
    height: 100%
}

@media (min-height: 28.875em) {
    .picker__frame {
        overflow:visible;
        top: auto;
        bottom: -100%;
        max-height: 80%
    }

    .picker__wrap {
        display: block
    }
}

.picker__box {
    background: #fff;
    display: table-cell;
    padding: 0
}

@media (min-height: 28.875em) {
    .picker__box {
        display:block;
        border: 1px solid #777;
        border-top-color: #898989;
        border-bottom-width: 0;
        border-radius: 5px 5px 0 0;
        -webkit-box-shadow: 0 12px 36px 16px rgba(0,0,0,.24);
        box-shadow: 0 12px 36px 16px rgba(0,0,0,.24)
    }
}

.picker--opened .picker__holder {
    top: 0;
    zoom:1;background: rgba(0,0,0,.32);
    -webkit-transition: background .15s ease-out;
    transition: background .15s ease-out
}

.picker--opened .picker__frame {
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1
}

@media (min-height: 35.875em) {
    .picker--opened .picker__frame {
        top:10%;
        bottom: 20%auto
    }
}

.picker__input.picker__input--active {
    border-color: #E3F2FD
}

.picker__frame {
    margin: 0 auto;
    max-width: 325px
}

@media (min-height: 38.875em) {
    .picker--opened .picker__frame {
        top:10%;
        bottom: auto
    }
}

.picker__header {
    position: relative;
    margin-bottom: 20px
}

.picker__month,.picker__year {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em
}

.picker__select--month,.picker__select--year {
    height: 2em;
    padding: 0;
    margin-left: .25em;
    margin-right: .25em
}

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFF;
    width: 40%
}

.picker__select--year.browser-default {
    display: inline;
    background-color: #FFF;
    width: 25%
}

.picker__select--month:focus,.picker__select--year:focus {
    border-color: rgba(0,0,0,.05)
}

.picker__nav--next,.picker__nav--prev {
    position: absolute;
    padding: .5em 1.55em;
    width: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    bottom: 0
}

.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em
}

.picker__nav--next {
    right: -1em;
    padding-left: 1.25em
}

.picker__nav--disabled,.picker__nav--disabled:before,.picker__nav--disabled:before:hover,.picker__nav--disabled:hover {
    cursor: default;
    background: 0 0;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5
}

.picker__table {
    border-spacing: 0;
    table-layout: fixed;
    font-size: 1rem;
    width: 100%
}

.picker__table td {
    margin: 0;
    padding: 0
}

.picker__weekday {
    width: 14.285714286%;
    padding-bottom: .25em;
    color: #999;
    font-weight: 500
}

@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom:.5em
    }
}

.picker__day--today {
    position: relative;
    color: #595959;
    letter-spacing: -.3;
    padding: .75rem 0;
    font-weight: 400;
    border: 1px solid transparent
}

.picker__day--disabled:before {
    border-top-color: #aaa
}

.picker__day--infocus:hover {
    cursor: pointer;
    color: #000;
    font-weight: 500
}

.picker__day--outfocus {
    display: none;
    padding: .75rem 0;
    color: #fff
}

.picker__day--outfocus:hover {
    cursor: pointer;
    color: #ddd;
    font-weight: 500
}

.picker--focused .picker__day--highlighted,.picker__day--highlighted:hover {
    cursor: pointer
}

.picker--focused .picker__day--selected,.picker__day--selected,.picker__day--selected:hover {
    background: #0089ec
}

.picker--focused .picker__day--disabled,.picker__day--disabled,.picker__day--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default
}

.picker__day--highlighted.picker__day--disabled,.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbb
}

.picker__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.picker__button--clear,.picker__button--close,.picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: 1rem 0 .7rem;
    font-weight: 700;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase
}

.picker__button--clear:hover,.picker__button--close:hover,.picker__button--today:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
    border-bottom-color: #b1dcfb
}

.picker__button--clear:focus,.picker__button--close:focus,.picker__button--today:focus {
    background: #b1dcfb;
    border-color: rgba(0,0,0,.05);
    outline: 0
}

.picker__button--clear:before,.picker__button--close:before,.picker__button--today:before {
    position: relative;
    display: inline-block;
    height: 0
}

.picker__button--clear:before,.picker__button--today:before {
    content: " ";
    margin-right: .45em
}

.picker__button--today:before {
    top: -.05em;
    width: 0;
    border-top: .66em solid #0059bc;
    border-left: .66em solid transparent
}

.picker__button--clear:before {
    top: -.25em;
    width: .66em;
    border-top: 3px solid #e20
}

.picker__button--close:before {
    content: "\D7";
    top: -.1em;
    vertical-align: top;
    font-size: 1.1em;
    margin-right: .35em;
    color: #777
}

.picker__button--today[disabled],.picker__button--today[disabled]:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default
}

.picker__button--today[disabled]:before {
    border-top-color: #aaa
}

.picker__box {
    border-radius: 2px;
    overflow: hidden
}

.picker__date-display {
    text-align: center;
    background-color: #4285F4;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
    margin-bottom: 1rem
}

.picker__nav--next:hover,.picker__nav--prev:hover {
    cursor: pointer;
    color: #000;
    background: #ecf2fc
}

.picker__weekday-display {
    background-color: #206ff2;
    padding: 10px;
    font-weight: 200;
    letter-spacing: .5;
    font-size: 1rem;
    margin-bottom: 15px
}

.picker__month-display {
    text-transform: uppercase;
    font-size: 2rem
}

.picker__day-display {
    font-size: 4.5rem;
    font-weight: 400
}

.picker__year-display {
    font-size: 1.8rem;
    color: rgba(255,255,255,.4)
}

.picker__calendar-container {
    padding: 0 1rem
}

.picker__calendar-container thead {
    border: none
}

.picker__table {
    margin-top: 0;
    margin-bottom: .5em
}

.picker__day--infocus {
    color: #595959;
    letter-spacing: -.3;
    padding: .75rem 0;
    font-weight: 400;
    border: 1px solid transparent
}

.picker__day.picker__day--today {
    color: #4285F4
}

.picker__day.picker__day--today.picker__day--selected {
    color: #fff
}

.picker__weekday {
    font-size: .9rem
}

.picker--focused .picker__day--selected,.picker__day--selected,.picker__day--selected:hover {
    border-radius: 50%;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    background-color: #4285F4;
    color: #fff
}

.picker--focused .picker__day--selected.picker__day--outfocus,.picker__day--selected.picker__day--outfocus,.picker__day--selected:hover.picker__day--outfocus,button.picker__clear:focus,button.picker__close:focus,button.picker__today:focus {
    background-color: #ecf2fc
}

.picker__footer {
    text-align: right;
    padding: 5px 10px
}

.clockpicker-tick,.comments-list h4,.reply-form h4 {
    text-align: center
}

.picker__close,.picker__today {
    font-size: 1.1rem;
    padding: 0;
    color: #4285F4
}

.picker__nav--next:before,.picker__nav--prev:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .75em solid #676767;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto
}

.picker__nav--next:before {
    border-right: 0;
    border-left: .75em solid #676767
}

.picker__select--month,.picker__select--year {
    display: inline-block
}

.picker__select--year {
    width: 30%
}

.picker__list {
    list-style: none;
    padding: .75em 0 4.2em;
    margin: 0
}

.picker__list-item {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: -1px;
    position: relative;
    background: #fff;
    padding: .75em 1.25em
}

.picker__list-item--highlighted,.picker__list-item:hover {
    border-color: #0089ec;
    z-index: 10
}

.picker--focused .picker__list-item--highlighted,.picker__list-item--highlighted:hover,.picker__list-item:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb
}

@media (min-height: 46.75em) {
    .picker__list-item {
        padding:.5em 1em
    }
}

.picker--focused .picker__list-item--selected,.picker__list-item--selected,.picker__list-item--selected:hover {
    background: #0089ec;
    color: #fff;
    z-index: 10
}

.picker--focused .picker__list-item--disabled,.picker__list-item--disabled,.picker__list-item--disabled:hover {
    background: #f5f5f5;
    color: #ddd;
    cursor: default;
    border-color: #ddd;
    z-index: auto
}

.picker--time .picker__button--clear {
    display: block;
    width: 80%;
    margin: 1em auto 0;
    padding: 1em 1.25em;
    background: 0 0;
    border: 0;
    font-weight: 500;
    font-size: .67em;
    text-align: center;
    text-transform: uppercase;
    color: #666
}

.picker--time .picker__button--clear:focus,.picker--time .picker__button--clear:hover {
    background: #e20;
    border-color: #e20;
    cursor: pointer;
    color: #fff;
    outline: 0
}

.picker--time .picker__button--clear:before {
    top: -.25em;
    color: #666;
    font-size: 1.25em;
    font-weight: 700
}

.picker--time .picker__button--clear:focus:before,.picker--time .picker__button--clear:hover:before {
    color: #fff
}

.picker--time .picker__frame {
    min-width: 256px;
    max-width: 320px
}

.picker--time .picker__box {
    font-size: 1em;
    background: #f2f2f2;
    padding: 0
}

@media (min-height: 40.125em) {
    .picker--time .picker__box {
        margin-bottom:5em
    }
}

.clockpicker-display {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    height: 85px;
    font-size: 70px;
    padding: 10px 10px 0;
    color: #b2dfdb
}

.clockpicker-display-column {
    float: left
}

.clockpicker-display-am-pm {
    padding-left: 5px;
    vertical-align: bottom;
    height: 85px
}

.clockpicker-span-am-pm {
    display: inline-block;
    font-size: 23px;
    line-height: 25px;
    color: #b2dfdb
}

.clockpicker-span-hours,.clockpicker-span-minutes {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: color .5s;
    transition: color .5s;
    cursor: pointer
}

@-webkit-keyframes pulse {
    from,to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    50% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }
}

@keyframes pulse {
    from,to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    50% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }
}

#click-am,#click-pm {
    cursor: pointer
}

.clockpicker-moving {
    cursor: move
}

.clockpicker-plate {
    background-color: #eee;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    overflow: visible;
    position: relative;
    margin: 20px auto auto;
    -webkit-touch-callout: none;
    user-select: none
}

.testimonial-card .avatar,.testimonial-card .card-up {
    overflow: hidden;
    height: 120px
}

.clockpicker-canvas,.clockpicker-dial {
    width: 270px;
    height: 270px;
    position: absolute;
    left: -1px;
    top: -1px
}

.clockpicker-minutes {
    visibility: hidden
}

.clockpicker-tick {
    border-radius: 50%;
    color: #666;
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    background-color: rgba(0,150,136,0)
}

.clockpicker-tick.active,.clockpicker-tick:hover {
    background-color: rgba(0,150,136,.25)
}

.clockpicker-dial {
    -webkit-transition: -webkit-transform 350ms,opacity 350ms;
    -webkit-transition: opacity 350ms,-webkit-transform 350ms;
    transition: opacity 350ms,-webkit-transform 350ms;
    transition: transform 350ms,opacity 350ms;
    transition: transform 350ms,opacity 350ms,-webkit-transform 350ms
}

.clockpicker-dial-out {
    opacity: 0
}

.clockpicker-hours.clockpicker-dial-out {
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2)
}

.clockpicker-minutes.clockpicker-dial-out {
    -webkit-transform: scale(.8,.8);
    -ms-transform: scale(.8,.8);
    transform: scale(.8,.8)
}

.clockpicker-canvas {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.clockpicker-canvas-out {
    opacity: .25
}

.clockpicker-canvas-bearing {
    stroke: none;
    fill: rgba(0,77,64,.75)
}

.clockpicker-canvas-fg {
    stroke: none;
    fill: rgba(0,77,64,0)
}

.clockpicker-canvas-fg.active {
    fill: rgba(0,77,64,.5)
}

.clockpicker-canvas-bg,.clockpicker-canvas-bg-trans {
    fill: rgba(0,150,136,.25)
}

.clockpicker-canvas-bg {
    stroke: none
}

.clockpicker-canvas line {
    stroke: rgba(0,150,136,.25);
    stroke-width: 1;
    stroke-linecap: round
}

.clockpicker-am-pm-block {
    margin-top: -10px;
    width: 100%;
    height: 50px
}

.clockpicker-button.am-button {
    height: 45px;
    width: 45px;
    float: left
}

.clockpicker-button.pm-button {
    height: 45px;
    width: 45px;
    float: right
}

.btn-floating.btn-flat:focus,.btn-floating.btn-flat:visited {
    background-color: transparent
}

.btn-floating.btn-flat:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-floating.btn-flat {
    padding: 0;
    background: #4285F4
}

.btn-floating.btn-flat:focus,.btn-floating.btn-flat:hover {
    background-color: #5a95f5!important
}

.btn-floating.btn-flat.active {
    background-color: #0b51c5!important
}

.btn-floating.btn-flat:active {
    background-color: rgba(0,150,136,.5)
}

.picker__footer .clockpicker-button {
    margin: 15px auto auto
}

.picker__footer .clockpicker-button:focus {
    background-color: transparent
}

.picker__footer .clockpicker-button:active {
    background-color: rgba(0,150,136,.25)
}
.picker__footer .clockpicker-button {
    margin: 15px auto auto
}

.picker__footer .clockpicker-button:focus {
    background-color: transparent
}

.picker__footer .clockpicker-button:active {
    background-color: rgba(0,150,136,.25)
}

.dcm section{
min-height:100vh;
}